/*-----------------------------------------------------------------------------*/
/*                                   Base                                       */
/*-----------------------------------------------------------------------------*/

@font-face {
  font-family: "Barlow";
  src: url('Barlow-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Barlow";
  src: url('Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{
  margin: 0;
  background: rgb(0,128,128);
  background: linear-gradient(308deg, rgba(0,128,128,1) 9%, rgba(121,9,68,1) 48%, rgba(46,46,46,1) 85%); 
  color: #FFFAFA;
  font-family: 'Barlow', sans-serif;
  overflow: hidden;
  height: 100vh;
}

.main-section
{
  display: flex;
  gap: 10px;
  padding: 0 0 50px 50px;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
}


/*-----------------------------------------------------------------------------*/
/*                                   Music Player                              */
/*-----------------------------------------------------------------------------*/

.music-player__card{
  width: 100%;
  max-width: 350px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}
.music-player__card__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-thumbnail{
  border-radius: 10px;
}

.thumbnail{
  max-width: 300px;
  max-height: 315px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.player-title {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 10px;
  gap: 15px;
  width: 100%;
  max-width: 300px;
  font-size: 14px;
}

.player-title__name{
  font-weight: 700;
}

.progress-bar{
  color: #b22849;
  padding: 15px;
}
.player-controls{
  padding: 15px;
}

/*-----------------------------------------------------------------------------*/
/*                                   Content Section                           */
/*-----------------------------------------------------------------------------*/

.main-section__content{
  flex: 1;
  padding-top: 50px;
}

.main-section__music-player {
  padding-top: 50px;
}

.header-top{
  padding: 10px;
  display: flex;
}

.header-title{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.header-icons{
  margin-left: auto;
  color: #FFFAFA;
}

.user-regular{
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

.user-regular svg{
  height: 30px;
  width: 30px;
  transition: all .2s ease-in-out;
}

.user-regular::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #f5f5f5;
  transition: width 0.3s ease;
}

.user-regular:hover::after{
  width: 100%;
}

.burger-menu svg{
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: all .2s ease-in-out;
}

.burger-menu svg:hover{
  color: #121212;
}

.line {
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger-svg.open .top {
  transform: translateY(10px) rotate(45deg);
}

.burger-svg.open .middle {
  opacity: 0;
}

.burger-svg.open .bottom {
  transform: translateY(-15px) rotate(-45deg);
}



.content-wrapper{
  display: flex;
  gap: 0;
  flex-direction: column;
  margin: 15px;
  height: 465px;
}

.tabs-section {
  
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tab-item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  max-width: 100px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  position: relative;
}

.close-tab{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}
.close-tab:hover{
  color: #121212;
}

.tab-item__text{
  position: relative;
  display: inline-block;
  width: 100%;
}

.tab-item__text::after{
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  height: 2px;
  width: 0%;
  background-color: #f5f5f5;
  transition: width 0.3s ease;
  margin: auto;
}

.tab-item:hover .tab-item__text::after{
  width: 100%;
}

.selected .tab-item__text::after{
  width: 100%;
}


.content-section {
  background-color: rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: 700px;
  height: 100vh;
  padding: 10px;
  border-radius: 0 10px 10px;
  display: flex;
}

.content-list{
  flex: 1;
}

.content-settings{
  max-width: 200px;
  border-right: 1px solid #f5f5f5;
}

.content-detail{
  flex: 1;
}

.settings-list{
  list-style-type: none;
  padding: 0;
}

.settings-list-item{
  margin-top: 10px;
}

.settings-list-item__text{
  width: 100%;
  display: inline-block;
  padding-left: 20px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.settings-list-item__text:hover{
  color: #121212;
}

.list-item__sub-menu{
  list-style-type: none;

}

.sub-menu__list-item{
  margin: 10px;
}

.sub-list__text{
  width: 100%;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 2px;
  transition: .3s ease-in-out;
}

.sub-list__text:hover{
  color: #121212;
}


/*-----------------------------------------------------------------------------*/
/*                                   Sidenav                                   */
/*-----------------------------------------------------------------------------*/

.offbrand-sidenav{
  width: 0;
  overflow: hidden;
  transition: width .5s ease-in-out;
  white-space: nowrap;
  max-width: 250px;
  top: 0;
  background-color: #121212;
  height: 100vh;
  padding: 20px 0;
}

.active{
  width: 250px;
}

.close-sidenav{
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.sidenav-cross{
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  transition: all .2s ease-in-out;
}


.header-top__list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  width: 100%; 
  padding: 20px 0; 
}

.header-top__list-item{
  padding: 10px 0;
}

.list-item--text{
  width: 100%;
  display: inline-block;
  padding-left: 20px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}

.list-item--text::after{
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #f5f5f5;
  transition: width 0.3s ease;
}

.list-item--text:hover::after{
  width: 100%;
}

.sub-list{
  list-style-type: none;
}

.sub-list-item__text{
  width: 100%;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 2px;
  transition: .3s ease-in-out;
  margin-top: 10px;
}

.sub-list-item__text:hover{
  color: #b22849;
}


/*-----------------------------------------------------------------------------*/
/*                                   Queue Window                              */
/*-----------------------------------------------------------------------------*/

.queue-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 100%;
}


.queue__list-item.header{
  border-bottom: 1px solid #FFFAFA;
}

.header:not(:last-child){
  border-right: 1px solid #FFFAFA;
}

.list-item__text{
  width: 100%;
  font-size: 12px;
  display: inline-block;
  line-height: 1.5;
  padding: 5px;
  letter-spacing: 1px;
}

.header .list-item__text{
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.queue__list-item{
  width: 100%;
  text-align: center;
  overflow: hidden;
  flex-basis: 165px;
  white-space: nowrap;
  padding: 0 20px;
  
}



