<div class="content-list" data-content="queue">
    <ul class="settings-list">
        <li class="settings-list-item">
          <span class="settings-list-item__text">
            System
          </span>
        </li>
        <li class="settings-list-item">
          <span class="settings-list-item__text">
            Output
          </span>
        </li>
        <li class="settings-list-item">
          <span class="settings-list-item__text">
            Twitch
          </span>
          <ul class="list-item__sub-menu">
            <li class="sub-menu__list-item">
              <span class="sub-list__text">
                  Rewards
              </span>
            </li>
            <li class="sub-menu__list-item">
              <span class="sub-list__text">
                  SongRequest
              </span>
            </li>
            <li class="sub-menu__list-item">
              <span class="sub-list__text">
                  Responses
              </span>
            </li>
            <li class="sub-menu__list-item">
              <span class="sub-list__text">
                  Commands
              </span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="content-detail">
                
      </div>       
</div>

